.signup {
  width: 100%;
  height: 100%;
  background: url("/img/signup.avif");
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.signup-content {
  display: block;
  box-sizing: border-box;
  padding: 40px;
  width: auto;
  height: 100%;
  backdrop-filter: brightness(90%);
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.signup-text {
  font-weight: bolder;
  font-size: 24px;
  color: white;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 60px;
  text-align: center;
  animation: scale 1s ease-in-out infinite alternate;
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

.already-have-account {
  display: flex;
}