.login {
  position: absolute;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(236, 206, 219, 0.8044467787114846) 20%,
    rgba(166, 221, 217, 0.7120098039215687) 37%,
    rgba(249, 253, 190, 1) 60%,
    rgba(229, 166, 231, 0.8184523809523809) 90%
  );
  color: white;
  overflow: hidden;
}

.login-content {
  display: block;
  box-sizing: border-box;
  padding: 40px;
  width: 30%;
  height: auto;
  backdrop-filter: brightness(90%);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border-radius: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-text {
  font-weight: bolder;
  font-size: 34px;
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  text-align: center;
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

label {
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 0px 5px;
  text-align: start;
}

.input {
  background: rgba(255, 255, 255, 0.3);
  height: 40px;
  line-height: 40px;
  border: 20px;
  padding: 0px 20px;
  margin-left: 5px;
  border: none;
  margin-bottom: 20px;
  color: white;
}


.remember-area {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.signin-checkbox {
  margin-right: 10px;
}

.not-member p {
  color: #000000;
}


.not-member  {
  display: flex;
}

/* Styles for the message container */
.message-container {
  height: 30px;
}

/* Styles for the message text */
.message {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #d61010;
}
